doctype html
html
    head
        title Voxelwind - Error
        // Voxelwind styling
        link(href="/static/voxelwind.css" rel="stylesheet")
    body
        nav
            ul
                li
                    img(src="/static/voxelwind-mark.png" alt="Voxelwind")
                li
                    a(href="https://docs.voxelwind.com") Documentation
                li
                    a(href="https://forums.voxelwind.com") Forums
                li
                    a(href="https://ci.voxelwind.com") Builds
        #welcome
            .container
                .row
                    .twelve.columns.header-section
                        strong#hello-title Looks like something blew up...
                        p Try again later.
        .container
            .row#footer
                .twelve.columns
                    p Copyright &copy; 2016 The Voxelwind Project. Voxelwind and this website are licensed under the terms of the #[a(href="https://opensource.org/licenses/MIT") MIT license].
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q || []).push(arguments)},i[r].l=1 * new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-83597675-1', 'auto');
        ga('send', 'pageview');